﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }
        *{
            font-family: Carbon bl;
        }
@@font-face {
          font-family: Futura_Condensed_Medium;
          src: local("Futura"),
               local("Futura_Condensed_Medium"),
               url('../../Content/fonts/Futura_Condensed_Medium.otf') format('opentype');
          font-weight: bold;
        }
::-webkit-input-placeholder {
    font-family: 'Futura_Condensed_Medium';
}
:-moz-placeholder {
    font-family: 'Futura_Condensed_Medium';
}
::-moz-placeholder {
    font-family: 'Futura_Condensed_Medium';
}
:-ms-input-placeholder {
    font-family: 'Futura_Condensed_Medium';
}
        input[type="text"], select,option,textarea{
            font-family: Futura_Condensed_Medium;
        }
        .header{
            text-align: center;
            font-size: 80px;
            margin-top: 8%;
            color: black;
        }
        body{
            background-color: white;
        }
        .floating-button1 {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #000000;
            font-size: 20px;
            color: white;
            background-color: black;
        }
        .floating-button {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #000000;
            font-size: 25px;
            background-color: white;
        }
        .floating-button:hover{
            background-color: black;
            color:white;
        }
        .floating-button-back{
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #ff0000;
            font-size: 25px;
            color: #ff0000;
            background-color: white;
        }
        .floating-button-back:hover{
            background-color:#ff0000 ;
            color: white;
        }
        .floating-button-product{
             float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #65d643;
            font-size: 25px;
            color: #65d643;
        }
        .floating-button-product:hover{
            background-color: #65d643;
            color:white;
        }
        .product-form{
            margin-left: 10%;
        }
        input {
              display: inline-block;
              float: right;
            }
        .fileUpload {
            position: relative;
            overflow: hidden;
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .btn-rounded{
            border-radius:15px;
        }
        textarea{
            float:right;
        }
        .btn-button-back {
            border-radius: none;
            border: 2px solid #ff0000;
            color: black;
            font-size: 20px;
            margin: 10px;
            float: left;
            width: 150px;
            height: 75px;
            color: #ff0000;
        }

            .btn-button-back:hover {
                background-color: #ff0000;
                color: white;
                text-decoration: none;
            }
        .btn-lg {
            padding: 25px;
            border-radius: 0px;
        }
        .btn-Add {
            background-color: white;
            color: limegreen;
            border: 3px solid limegreen;
        }

            .btn-Add:hover {
                background-color: limegreen;
                color: white;
                border: 3px solid limegreen;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Admin Panel</h1>
        <br>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @if (ViewBag.msg == null)
                {
                    

                }
                else
                {
<div class="alert alert-success">@ViewBag.msg</div>
                }
                @if (ViewBag.error == null)
                {


                }
                else
                {
                    <div class="alert alert-danger">@ViewBag.error</div>
                }
            </div>
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 text-center">
                <button class="floating-button1">Add Product</button>
                <a href="@Url.Action("Dashboard","Admin")" class="btn-button-back btn-lg">Back</a>
            </div>
        </div>
        <div class="row">

            <div class="product-form">
                <form class="form" action="@Url.Action("addItem","Admin")" method="post" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <h2>Product Listing</h2>

                        <div class="form-group">

                            <label style=" margin-right: 5px;">Title:</label>
                            <input type="text" name="Title" placeholder="Title here" style="width: 70%;" required>
                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">price:</label>
                            <input type="text" name="Price" placeholder="Price here" style="width: 70%;" required>
                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Amount available for s size :</label>
                            <input type="text" name="QS" placeholder="Amount here" style="width: 38%;">
                        </div>
                        
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Amount available for m size :</label>
                            <input type="text" name="QM" placeholder="Amount here" style="width: 38%;">
                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Amount available for l size :</label>
                            <input type="text" name="QL" placeholder="Amount here" style="width: 38%;">
                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Amount available for xl size :</label>
                            <input type="text" name="QXL" placeholder="Amount here" style="width: 38%;">
                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Amount available for xxl size :</label>
                            <input type="text" name="QXXL" placeholder="Amount here" style="width: 38%;">
                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Preview Image :</label>
                            <div class="fileUpload btn btn-default btn-rounded pull-right">
                                <span>Upload</span>
                                <input type="file" name="PreviewImage" class="upload" required/>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Product Detail</h2>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Gallery Image 1:</label>
                            <div class="fileUpload btn btn-default btn-rounded pull-right">
                                <span>Upload</span>
                                <input type="file" name="Image1" class="upload" required/>
                            </div>

                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Gallery Image 2:</label>
                            <div class="fileUpload btn btn-default btn-rounded pull-right">
                                <span>Upload</span>
                                <input type="file" name="Image2" class="upload" required/>
                            </div>

                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Gallery Image 3:</label>
                            <div class="fileUpload btn btn-default btn-rounded pull-right">
                                <span>Upload</span>
                                <input type="file" name="Image3" class="upload" required/>
                            </div>

                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Description:</label>
                            <textarea cols="40" rows="5" name="Des" required></textarea>

                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="form-group">

                            <input type="submit" value="Add Product" class="btn btn-Add pull-right"/>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <script>
    document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
    </script>
</body>
</html>
