﻿@model IEnumerable<PublicServant.Models.Item>
@{
    Layout = null;
    int counter = 1;
}

<!DOCTYPE html>
<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }

        * {
            font-family: Carbon bl;
        }

        .header {
            text-align: center;
            font-size: 80px;
            margin-top: 8%;
            color: black;
        }

        body {
            background-color: white;
        }

        .floating-button {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            background-color: white;
            border: 2px solid #000000;
            font-size: 25px;
        }

            .floating-button:hover {
                background-color: black;
                color: white;
            }

        .btn-button-back {
            border-radius: 0px;
            border: 2px solid #ff0000 !important;
            color: red !important;
            font-size: 20px;
            margin: 10px;
            float: left;
            width: 150px;
            height: 75px;
            color: #ff0000;
        }

            .btn-button-back:hover {
                background-color: #ff0000;
                color: white !important;
                text-decoration: none;
                border: #ff0000;
            }

        .floating-button-product {
            border-radius: none;
            border: 2px solid #65d643;
            font-size: 20px;
            margin: 10px;
            float: left;
            width: 150px;
            height: 75px;
            color: #65d643;
            background-color: white;
        }

            .floating-button-product:hover {
                background-color: #65d643;
                color: white;
                text-decoration: none;
            }

        .prod-list {
            margin-left: 10%;
        }

        .btn-product-remove {
            border-radius: none;
            border: 2px solid red;
            color: black;
            font-size: 20px;
            margin: 10px;
            float: left;
            width: 150px;
            height: 75px;
            color: red;
        }

            .btn-product-remove:hover {
                background-color: red;
                color: white;
                text-decoration: none;
            }

        .btn-lg {
            border-radius: none;
            border: 2px solid black;
            color: black;
            font-size: 20px;
            margin: 10px;
            float: left;
            width: 150px;
            height: 75px;
            padding: 25px;
            border-radius: 0px;
        }

            .btn-lg:hover {
            }

        .badge-notify {
            background: red;
            position: relative;
            top: -35px;
            left: -15px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            padding-top: 8px;
        }

        .btn {
            margin-bottom: 10px;
            border-radius: 0px;
        }

        .btn-default {
            background-color: white;
            border: 3px solid black;
            color: black;
        }

            .btn-default:hover {
                background-color: black !important;
                border: 3px solid black !important;
                color: white !important;
            }

        .btn-Add {
            background-color: white;
            color: limegreen;
            border: 3px solid limegreen;
        }

            .btn-Add:hover {
                background-color: limegreen !important;
                color: white;
                border: 3px solid limegreen !important;
            }
        .modal {
            margin-top: 10%;
        }
        .btn-modal-yes {
            background-color: white;
            color: limegreen;
            border: 2px solid limegreen;
        }

            .btn-modal-yes:hover {
                background-color: limegreen;
                color: white;
            }

        .btn-modal-no {
            background-color: white;
            color: red;
            border: 2px solid red;
        }

            .btn-modal-no:hover {
                background-color: red;
                color: white;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Admin Panel</h1>
        <br>
        <div class="row">
            <div class="text-center" style="margin-left:35%;">
                <a class="btn btn-lg" style="background-color:black; color:white;">Bottoms</a>
                <a href="@Url.Action("Dashboard","Admin")" class="btn-button-back btn-lg">Back</a>
            </div>
        </div>
        <br />
        <div class="row prod-list">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @if (Model.Count() == 0)
                {
                    <h4>There is no product added yet</h4>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <span style="padding-left:-70px; margin-bottom:20px;">
                            <a href="@Url.Action("editProduct","Admin",new { Id=item.Id})" class="btn btn-default" style="font-size:36px;">
                                @*//onclick="location.href = 'http://www.google.com';"*@
                                PRODUCT @counter
                            </a>
                            <span class="badge badge-notify"><a data-toggle="modal" data-id=@item.Id title="Delete this item" class="open-deleteAgentDialog" href="#deleteAgentDialog" style="color:white;"><i class="glyphicon glyphicon-trash"></i></a></span>
                        </span>
                        counter++;
                    }

                }
                <span style="padding-left:-70px; margin-bottom:20px;">
                    <a href="@Url.Action("addProduct","Admin",new { id=3})" class="btn btn-default btn-Add" style="font-size:36px;">
                        @*//onclick="location.href = 'http://www.google.com';"*@
                        <i class="glyphicon glyphicon-plus"></i> Product
                    </a>
                </span>
            </div>
        </div>
        <div id="deleteAgentDialog" class="modal fade" role="dialog">
            <div class="modal-dialog">
                @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
            {
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Warning!</h4>
                        </div>

                        <div class="modal-body">
                            <label for="middle-name" class="control-label">You are about to delete a product, Are you sure?</label><br />
                            <input type="text" name="Id" id="Id" hidden value="" />
                            
                        </div>
                        <div class="modal-footer">
                            <button id="saveButton" type="submit" class="btn btn-modal-yes">Yes</button>
                            <button type="button" class="btn btn-modal-no" data-dismiss="modal" style="margin-top:-10px;">No</button>


                        </div>
                    </div>
                }
            </div>
        </div>
        @*<div class="row prod-list">
            <div class="col-md-12 col-xs-12">
                <span style="padding-left:-70px; margin-bottom:20px;">
                    <button class="btn btn-default btn-Add" style="font-size:36px;" onclick="location.href = '@Url.Action("addProduct","Admin",new { id=3})';">
                        <i class="glyphicon glyphicon-plus"></i> Product
                    </button>
                </span>
            </div>
        </div>*@
    </div>
    <script>
        $('.open-deleteAgentDialog').click(function () {
            $('.modal-body #Id').val($(this).data('id'));
        });
    </script>
</body>

</html>
