﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }
        *{
            font-family: Carbon bl;
        }
        .header {
            text-align: center;
            font-size: 80px;
            margin-top: 8%;
            color: black;
        }

        body {
            background-color: white;
        }

        .floating-button {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #000000;
            font-size: 25px;
        }

            .floating-button:hover {
                background-color: black;
                color: white;
            }

        .btn {
            border-radius: none;
            border: 2px solid black;
            color: black;
            font-size: 20px;
            margin: 10px;
            float: left;
            width: 150px;
            height: 75px;
        }

        .btn-lg {
            padding: 25px;
            border-radius: 0px;
        }

        .btn:hover {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Admin Panel</h1>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-8" style="margin-left:21%;">
                <center>
                    <a href="@Url.Action("Hoodies","Admin")" class="btn btn-lg">HOODIES</a>
                    <a href="@Url.Action("Shirts","Admin")" class="btn btn-lg">Shirts</a>
                    <a href="@Url.Action("Bottoms","Admin")" class="btn btn-lg">Bottoms</a>
                    <a href="@Url.Action("Accessories","Admin")" class="btn btn-lg">Accessories</a>
                </center>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <center>
                    <a href="@Url.Action("returnExchange","Admin")" class="btn btn-lg" style="width:88%; margin-left:8%;">SHIPPING + RETURN/EXCHANGE</a>
                </center>
            </div>
        </div>
    </div>
</body>
</html>
