﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page Not Found</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />
    <link href="https://a1.muscache.com/airbnb/static/packages/common_o2.1-f8a73ee0d4378e3442aa7772f248998e.css" media="all" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/png" href="../~/Content/images/favicon.ico" />
</head>

<body>
    <header class="page-container page-container-responsive space-top-4">
        <a href="/">
            <span class="screen-reader-only">
                Public Servant
            </span>
        </a>
    </header>

    <div class="page-container page-container-responsive">
        <div class="row space-top-8 space-8 row-table">
            <div class="col-5 col-middle">
                <h1 class="text-jumbo text-ginormous">Oops!</h1>
                <h2>@ViewBag.Error</h2>
                <ul class="list-unstyled">
                    <li>Here are some helpful links instead:</li>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Hoodies","Home")">Hoodies</a></li>
                    <li><a href="@Url.Action("Shirts","Home")">Shirts</a></li>
                    <li><a href="@Url.Action("Bottoms","Home")">Bottoms</a></li>
                    <li><a href="@Url.Action("Accessories","Home")">Accessories</a></li>
                </ul>
            </div>
            <div class="col-5 col-middle text-center">
                <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" width="313" height="428" alt="Girl has dropped her ice cream.">
            </div>
        </div>
    </div>
    </div>
</body>
</html>

