﻿@model  PublicServant.Models.ShippingDetail
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }

        * {
            font-family: Carbon bl;
        }

        @@font-face {
            font-family: Futura_Condensed_Medium;
            src: local("Futura"), local("Futura_Condensed_Medium"), url('../../Content/fonts/Futura_Condensed_Medium.otf') format('opentype');
            font-weight: bold;
        }

        ::-webkit-input-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        :-moz-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        ::-moz-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        :-ms-input-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        input[type="text"], select, option, textarea {
            font-family: Futura_Condensed_Medium;
        }

        .header {
            text-align: center;
            font-size: 80px;
            margin-top: 8%;
            color: black;
        }

        body {
            background-color: white;
        }

        .floating-button1 {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #000000;
            font-size: 20px;
            color: white;
            background-color: black;
        }

        .floating-button {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #000000;
            font-size: 25px;
            background-color: white;
        }

            .floating-button:hover {
                background-color: black;
                color: white;
            }

        .floating-button-back {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #ff0000;
            font-size: 25px;
            color: #ff0000;
            background-color: white;
        }

            .floating-button-back:hover {
                background-color: #ff0000;
                color: white;
            }

        .floating-button-product {
            float: left;
            width: 150px;
            height: 75px;
            margin: 10px;
            border: 2px solid #65d643;
            font-size: 25px;
            color: #65d643;
        }

            .floating-button-product:hover {
                background-color: #65d643;
                color: white;
            }

        .product-form {
            margin-left: 10%;
        }

        input {
            display: inline-block;
            float: right;
        }

        .fileUpload {
            position: relative;
            overflow: hidden;
        }

            .fileUpload input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }

        .btn-rounded {
            border-radius: 15px;
        }

       

        .btn-button-back {
            border-radius: none;
            border: 2px solid #ff0000;
            color: black;
            font-size: 20px;
            margin: 10px;
            float: left;
            width: 150px;
            height: 75px;
            color: #ff0000;
        }

            .btn-button-back:hover {
                background-color: #ff0000;
                color: white;
                text-decoration: none;
            }

        .btn-lg {
            padding: 25px;
            border-radius: 0px;
        }

        .btn-Add {
            background-color: white;
            color: limegreen;
            border: 3px solid limegreen;
        }

            .btn-Add:hover {
                background-color: limegreen;
                color: white;
                border: 3px solid limegreen;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Admin Panel</h1>
        <br>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @if (ViewBag.msg == null)
                {


                }
                else
                {
                    <div class="alert alert-success">@ViewBag.msg</div>
                }
                @if (ViewBag.error == null)
                {


                }
                else
                {
                    <div class="alert alert-danger">@ViewBag.error</div>
                }
            </div>
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 text-center">
                <button class="floating-button1">Policies</button>
                <a href="@Url.Action("Dashboard","Admin")" class="btn-button-back btn-lg">Back</a>
            </div>
        </div>
        <div class="row">

                <form class="form" action="@Url.Action("addShippingInfo","Admin")" method="post" enctype="multipart/form-data">
                    
                    <div class="col-md-offset-3 col-md-6">
                        
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Shipping Details:</label>
                            <textarea name="Shipping" required style="width:100%;">@Model.Shipping</textarea>

                        </div>
                        <div class="form-group">

                            <label style=" margin-right: 5px;">Return/Exchange Details:</label>
                            <textarea name="ReturnExchange" required style="width:100%;">@Model.ReturnExchange</textarea>

                        </div>
                        <br />
                        <br />
                        <div class="form-group">

                            <input type="submit" value="Edit Policies" class="btn btn-Add pull-right" />

                        </div>
                    </div>
                </form>
            </div>
        </div>
    <br>
</body>
</html>

