﻿@model IEnumerable<PublicServant.Models.CartItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add To Cart</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }

        * {
            font-family: Carbon bl;
        }

        .navbar-default {
            border-radius: 0px;
            background-color: transparent;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            border: none;
        }

        body {
            background-color: white;
        }

        #logo {
            width: 700px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        }

        #footer {
            position: absolute;
            bottom: 0;
        }

        #myModal {
            margin-top: 10%;
        }

        #myModal1 {
            margin-top: 5%;
        }

        .navbar-default .navbar-nav > li > a {
            color: black;
            outline:none;
        }

            .navbar-default .navbar-nav > li > a:hover {
                text-decoration: underline;
            }

        #hoodlogo {
            margin-top: -60px;
        }

        .container-product {
            position: relative;
            width: 50%;
        }

        .image {
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
            width: 300px;
            height: 300px;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            color: black;
            position: absolute;
            top: 150px;
            left: 150px;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .text {
            color: black;
            font-size: 16px;
            padding: 16px 32px;
        }

        .container-product:hover .image {
            opacity: 0.3;
        }

        .container-product:hover .middle {
            opacity: 1;
        }

        @@media screen and (max-width: 768px) {
            #hoodlogo {
                margin-top: 0px;
                ;
            }
        }

        @@media screen and (max-width: 560px) {
            #hoodlogo {
                margin-top: 0px;
                ;
            }
        }

        @@media screen and (max-width: 480px) {
            #hoodlogo {
                margin-top: auto;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-left"><img id="menu-left" src="~/Content/images/burger-menu.png" width="25" height="25" onmouseover="this.src='~/Content/images/burger-menu-outline.png'" onmouseout="this.src='~/Content/images/burger-menu.png'"></a></li>
                    <li class=" menu"><a href="@Url.Action("Hoodies","Home")">HOODIES <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Shirts","Home")" class="menu">SHIRTS</a></li>
                    <li><a href="@Url.Action("Bottoms","Home")" class="menu">BOTTOMS</a></li>
                    <li class="menu">
                        <a href="@Url.Action("Accessories","Home")">ACCESSORIES</a>
                    </li>
                </ul>
                <!--
                      <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                -->
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["username"] == null)
                    {
                        <li><a class="menu1" data-toggle="modal" data-target="#myModal"> LOGIN</a></li>
                        <li><a class="menu1" data-toggle="modal" data-target="#myModal1"> SIGN UP</a></li>

                    }
                    else
                    {

                        <li><a class="menu1" style="text-decoration:none;">@Session["username"]</a></li>
                        <li><a href="@Url.Action("Logout","Home")" class="menu1"> Logout</a></li>

                    }
                    <li class="dropdown menu1">
                        @if (Session["username"] == null)
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Cart <span class="badge">0</span></a>

                        }
                        else
                        {
                            <a href="@Url.Action("ViewCart","Admin")">View Cart <span class="badge">@Session["cartItems"]</span></a>

                        }
                    </li>
                    <li><a id="menu-right"><img src="~/Content/images/account.png" width="25" height="25" onmouseover="this.src='~/Content/images/account-outline.png'" onmouseout="this.src='~/Content/images/account.png'"></a></li>
                    <!--
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </li>
                    -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                            <p>The cart is empty.</p>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-sm-8 col-md-6">
                                        <div class="media">
                                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@Url.Content("http://publicservantstreetwear.com/" + item.Item.PreviewImage)" style="width: 72px; height: 72px;"> </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">@item.Item.Title</a></h4>
                                                <h5 class="media-heading"> by <a href="#"></a></h5>
                                                <span>Status: </span><span class="text-success"><strong></strong></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                        <strong>@item.Quantity</strong>
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>$@item.Item.Price</strong></td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>$@item.Item.Price</strong></td>
                                    <td class="col-sm-1 col-md-1">
                                        <a href="@Url.Action("removeItem", "Admin", new { Id = item.Id })" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        @*<tr>
                            <td class="col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Product name</a></h4>
                                        <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                        <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3 weeks</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-1" style="text-align: center">
                                <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                            </td>
                            <td class="col-md-1 text-center"><strong>$4.99</strong></td>
                            <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                            <td class="col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Subtotal</h5></td>
                            <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h5>Estimated shipping</h5></td>
                            <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                        </tr>*@
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Total</h3></td>
                            @if (ViewBag.total == null)
                            {
                                <td class="text-right"><h3><strong>$0</strong></h3></td>
                            }
                            else
                            {
                                <td class="text-right"><h3><strong>$@ViewBag.total</strong></h3></td>

                            }
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td>
                                <a href="@Url.Action("Index","Home")" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("CheckOut","Admin")" class="btn btn-success">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <p class="pull-right">&copy; Coprights <strong>Public servant</strong></p>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_SignUpLoginModal.cshtml")
    <script>
        $(document).ready(function () {

            $('.menu').hide();
            $('.menu1').hide();
        });
        $('.navbar-left').click(function () {
            $('.menu').toggleClass('show');
        });
        $('#menu-right').click(function () {
            $('.menu1').toggleClass('show');
        })
    </script>
</body>
</html>
