﻿<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" action="@Url.Action("Login","Home")" method="post">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                    <p id="msg"></p>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Email:</label>
                        <input onchange="return trim(this)" type="email" required id="email" name="Email" onchange="ValidateEmail()" class="form-control">
                        <p id="msg"></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password:</label>
                        <input onchange="return trim(this)" type="password" required name="Password" class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" action="@Url.Action("signup","Home")" method="post">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 20px;">
                        <div class="form-group">
                            <label class="control-label">Username:</label>
                            <input onchange="return trim(this)" type="text" required name="UserName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone:</label>
                            <input onchange="return trim(this)" type="text" required name="Phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email:</label>
                            <input onchange="return trim(this)" type="email" required name="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password:</label>
                            <input onchange="return trim(this)" type="password" required name="Password" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function ValidateEmail() {
        var name = document.getElementById('email').value;
        $.ajax({
            dataType: "json",
            type: "POST",
            url: 'ValidateEmail',
            data: { Name: name },
            //traditional: true,
            success: function (response) {
                if (response == false) {
                    $("#msg").html("Name already exist, please try another one!");
                    $("#msg").addClass("text-danger");
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#msg").removeClass("text-danger");
                    $("#msg").addClass("text-success");
                    $("#msg").html("Congrates, Name is available.");
                    $(':input[type="submit"]').prop('disabled', false);
                    return trim(this);
                }
            },
            error: function (response) { alert('Error'); }

        });
    }
    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
</script>