﻿<style>
    .modal {
        margin-top: 10%;
    }
     button{
        outline:none;
    }
     button:hover{
         outline:none;
         text-decoration:none;
         background-color:transparent !important;
     }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
        vertical-align:middle !important;
    }
    .media-heading{
        margin-top:33px !important;
        margin-left:20px;
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" id="cart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cart</h4>
            </div>
            <div class="modal-body">
                @if (Session["username"] == null)
                {
                    <p style="color:#ff0000;">PLEASE LOGIN OR SIGNUP TO PURCHASE PRODUCTS.</p>
                }
                @if (ViewBag.CartItems == null)
                {
                    if (Session["cartItems"]==null && Session["username"] != null)
                    {
                        <p style="color:#ff0000;">THERE ARE NO ITEMS IN YOUR CART.</p>
                    }
                }
                else
                {

                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Total</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ViewBag.CartItems)
                                {

                                    <tr>
                                        <td class="col-sm-8 col-md-6">
                                            <div class="media">
                                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@Url.Content(item.Item.PreviewImage)" style="width: 72px; height: 72px;"> </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">@item.Item.Title</h4>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <td class="col-sm-1 col-md-1" style="text-align: center">
                                            <strong>@item.Quantity</strong>
                                        </td>
                                        <td class="col-sm-1 col-md-1 text-center"><strong>$@item.Item.Price</strong></td>
                                        <td class="col-sm-1 col-md-1 text-center"><strong>$@item.Item.Price</strong></td>
                                        <td class="col-sm-1 col-md-1">
                                            <a href="" onclick="removeCartItem('@item.Id')" class="btn" style="background-color:#ff0000; border-color:#ff0000; color:white">
                                                <span class="glyphicon glyphicon-remove"></span> Remove
                                            </a>
                                        </td>
                                    </tr>
                                }
                                @*<tr>
                                        <td class="col-md-6">
                                            <div class="media">
                                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Product name</a></h4>
                                                    <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                                    <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3 weeks</strong></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-md-1" style="text-align: center">
                                            <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                                        </td>
                                        <td class="col-md-1 text-center"><strong>$4.99</strong></td>
                                        <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                                        <td class="col-md-1">
                                            <button type="button" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>   </td>
                                        <td>   </td>
                                        <td>   </td>
                                        <td><h5>Subtotal</h5></td>
                                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                                    </tr>
                                    <tr>
                                        <td>   </td>
                                        <td>   </td>
                                        <td>   </td>
                                        <td><h5>Estimated shipping</h5></td>
                                        <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                                    </tr>*@
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td><h3>Total</h3></td>
                                    @if (ViewBag.total == null)
                                    {
                                        <td class="text-right"><h3><strong>$0</strong></h3></td>
                                    }
                                    else
                                    {
                                        <td class="text-right"><h3><strong>$@ViewBag.total</strong></h3></td>

                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="modal-footer">
                @if (Session["username"] == null)
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#myModal">Login</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#myModal1">Sign Up</button>

                }
                else
                {
                    if (ViewBag.CartItems == null)
                    {
                        <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Close</button>

                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CheckOut", "Admin")';" disabled>CheckOut</button>

                    }
                    else
                    {

                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>

                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CheckOut", "Admin")';">CheckOut</button>
                    }
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    function removeCartItem(pId) {
        
        $.ajax({
            dataType: "json",
            type: "POST",
            url: '@Url.Action("removeItem", "Admin")',
            data: { Id: pId },
            //traditional: true,
            success: function (response) {
                if (response == "true") {
                    alert("Product has been removed from your cart.");
                }
                else {
                    alert("There is an error while removing product from your cart.");
                }
            },
            //error: function (response) {
            //    alert('Error');
            //}

        });
    }
</script>
