﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @@font-face {
          font-family: Carbon bl;
          src: local("Carbon"),
               local("Carbon-bold"),
               url('../../Content/fonts/carbon bl.ttf') format('truetype');
          font-weight: bold;
        }
        *{
            font-family: Carbon bl;
        }
        .navbar-inverse{
            border-radius: 0px;
            background-color: transparent;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
        }
        body{
            background-color: black;

        }
        .badge {
            background-color: white;
            color: black;
        }
        #logo{
            width: 700px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        }
        #footer {
           position:absolute;
           bottom:0;
           width:100%;
           height:30px;
        }
        #myModal{
            margin-top: 10%;
        }
        #myModal1{
            margin-top: 5%;
        }
        .navbar-inverse .navbar-nav>li>a{
            color: white;
            outline:none;
        }
        .navbar-inverse .navbar-nav>li>a:hover{
            text-decoration: underline;
            outline:none;
        }
            .navbar-inverse .navbar-nav > li > a:visited{
                border:none;
                outline:none;
            }
            @@media screen and (max-width: 480px) {
                #logo {
              margin-top: 30%;
                width: 300px;
                height: 250px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-left"><img id="menu-left" src="~/Content/images/burger-menu(white).png" width="25" height="25"  onmouseover="this.src='http://publicservantstreetwear.com/Content/images/burger-menu-outline(white).png'" onmouseout="this.src='http://publicservantstreetwear.com/Content/images/burger-menu(white).png'"></a></li>
                    <li class=" menu"><a href="@Url.Action("Hoodies","Home")">HOODIES <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Shirts","Home")" class="menu">SHIRTS</a></li>
                    <li><a href="@Url.Action("Bottoms","Home")" class="menu">BOTTOMS</a></li>
                    <li class="menu">
                        <a href="@Url.Action("Accessories","Home")">ACCESSORIES</a>
                    </li>
                    
                </ul>
                <!--
                      <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                -->
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["username"] == null)
                    {
                        <li><a  class="menu1" data-toggle="modal" data-target="#myModal"> LOGIN</a></li>
                        <li><a  class="menu1" data-toggle="modal" data-target="#myModal1"> SIGN UP</a></li>
                        <li><a class="menu1" href="#" data-toggle="modal" data-target="#cart">View Cart <span class="badge">0</span></a></li>

                    }
                    else
                    {

                        <li><a  class="menu1" style="text-decoration:none;">@Session["username"]</a></li>
                        <li><a href="@Url.Action("Logout","Home")" class="menu1"> Logout</a></li>
                        <li><a class="menu1" href="#" data-toggle="modal" data-target="#cart">View Cart <span class="badge">@Session["cartItems"]</span></a></li>

                    }
                   
                    <li><a id="menu-right"><img src="~/Content/images/account(white).png" width="25" height="25" onmouseover="this.src='http://publicservantstreetwear.com/Content/images/account-outline(white).png'" onmouseout="this.src='http://publicservantstreetwear.com/Content/images/account(white).png'"></a></li>
                    <!--
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </li>
                    -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <img src="~/Content/images/weblogo(white).png" class="img-responsive" id="logo">
    </div>
    <div id="footer">
        <p class="pull-right" style="color: white; font-weight: bold; margin-right: 20px;">© PUBLIC SERVANT 2018</p>
    </div>

    @Html.Partial("~/Views/Shared/_SignUpLoginModal.cshtml");
    @Html.Partial("~/Views/Shared/_ViewCart.cshtml");
    <script>
    $(document).ready(function(){

        $('.menu').hide();
        $('.menu1').hide();

    });
    $('.navbar-left').click(function(){
       $('.menu').toggleClass('show');
    });
        $('#menu-right').click(function () {
            $('.menu1').toggleClass('show');
        });
        
    </script>
</body>
</html>