﻿@model IEnumerable<PublicServant.Models.Item>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }

        * {
            font-family: Carbon bl;
        }

        .navbar-default {
            border-radius: 0px;
            background-color: transparent;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            border: none;
        }

        body {
            background-color: white;
        }

        #logo {
            width: 700px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        }

        #footer {
            position: absolute;
            bottom: 0;
        }

        #myModal {
            margin-top: 10%;
        }

        #myModal1 {
            margin-top: 5%;
        }

        .navbar-default .navbar-nav > li > a {
            color: black;
            outline: none;
        }

        .navbar-inverse .navbar-nav > li > a:hover {
            text-decoration: underline;
            outline: none;
        }

        .navbar-inverse .navbar-nav > li > a:visited {
            border: none;
            outline: none;
        }
       a> #hoodlogo {
            margin-top: -60px;
            z-index:1;
        }

        .container-product {
            position: relative;
            width: 50%;
        }

        .image {
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
            width: 300px;
            height: 300px;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            color: black;
            position: absolute;
            top: 150px;
            left: 150px;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .text {
            color: black;
            font-size: 16px;
            padding: 16px 32px;
        }
        
        .container-product:hover .image {
            opacity: 0.3;
        }

        .container-product:hover .middle {
            opacity: 1;
        }
        .badge{
            background-color:black;
            color:white;
        }
        .brand-centered {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }

        .navbar-brand {
            margin-top:40px;
            display: flex;
            align-items: center;
        }
        @@media screen and (max-width: 768px) {
            #hoodlogo {
                margin-top: 0px;
            }
            .navbar-brand {
                margin-top: 0px;
            }
            .brand-centered {
                width: auto;
            }
        }

        @@media screen and (max-width: 560px) {
            #hoodlogo {
                margin-top: 0px;
            }

            .brand-centered {
                width: auto;
            }
            .navbar-brand{
                margin-top:0px;
            }
        }

        @@media screen and (max-width: 480px) {
            #hoodlogo {
                margin-top: auto;
            }

            .product {
                margin: 10%;
            }

            .brand-centered {
                width: auto;
            }
            .navbar-brand {
                margin-top: 0px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="brand-centered">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/Content/images/weblogo.png" width="150" height="80">
                    </a>

                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-left"><img id="menu-left" src="~/Content/images/burger-menu.png" width="25" height="25" onmouseover="this.src='http://publicservantstreetwear.com/Content/images/burger-menu-outline.png'" onmouseout="this.src='http://publicservantstreetwear.com/Content/images/burger-menu.png'"></a></li>
                    <li class=" menu"><a href="@Url.Action("Hoodies","Home")">HOODIES <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Shirts","Home")" class="menu">SHIRTS</a></li>
                    <li><a href="@Url.Action("Bottoms","Home")" class="menu">BOTTOMS</a></li>
                    <li class="menu">
                        <a href="@Url.Action("Accessories","Home")">ACCESSORIES</a>
                    </li>
                </ul>
                <!--
                      <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                -->
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["username"] == null)
                    {
                        <li><a class="menu1" data-toggle="modal" data-target="#myModal"> LOGIN</a></li>
                        <li><a class="menu1" data-toggle="modal" data-target="#myModal1"> SIGN UP</a></li>
                        <li><a class="menu1" href="#" data-toggle="modal" data-target="#cart">View Cart <span class="badge">0</span></a></li>

                    }
                    else
                    {

                        <li><a class="menu1" style="text-decoration:none;">@Session["username"]</a></li>
                        <li><a href="@Url.Action("Logout","Home")" class="menu1"> Logout</a></li>
                        <li><a class="menu1" href="#" data-toggle="modal" data-target="#cart">View Cart <span class="badge">@Session["cartItems"]</span></a></li>

                    }
                    <li><a id="menu-right"><img src="../Content/images/account.png" width="25" height="25" onmouseover="this.src='http://publicservantstreetwear.com/Content/images/account-outline.png'" onmouseout="this.src='http://publicservantstreetwear.com/Content/images/account.png'"></a></li>
                    <!--
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </li>
                    -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container text-center">
        
        <br>
        <br>
        <div class="row">
            <h2 class="text-center">SHIRTS</h2>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="row">
                    @if (Model.Count() == 0)
                    {
                        <h1 style="color:#ff0000;">THERE ARE NO PRODUCTS AVAILABLE.</h1>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                <a href="@Url.Action("SingleProduct", "Home", new { Id = item.Id })">
                                    <div class="container-product">
                                        <img src="@Url.Content(item.PreviewImage)" class="image" width="300" height="300">
                                        <div class="middle" style="border:3px solid black; border-radius:15px; padding:5px; width:150px; height:100px;">
                                            <h4 class="text-center" style="background-color:black; color:white; width:40px; margin-left:45px;margin-bottom:25px;">$ @item.Price</h4>
                                            @{
                                                int a = (int)item.QS + (int)item.QM + (int)item.QL + (int)item.QXL + (int)item.QXXL;

                                                if (a == 0)
                                                {
                                                    <h4 style="background-color:black; color:white; width:auto;">SOLD OUT</h4>
                                                }
                                                <h4 style="background-color:black; color:white; width:auto;">@a ITEMS LEFT</h4>
                                            }
                                        </div>
                                    </div>
                                </a>
                            </div>
                                                    }
                                                }
                </div>

            </div>
        </div>
    </div>
        <div class="footer">
            <p class="pull-right" style="margin-right:4%;">&copy; <strong>Public servant 2018</strong></p>
        </div>
    
    @Html.Partial("~/Views/Shared/_SignUpLoginModal.cshtml");
    @Html.Partial("~/Views/Shared/_ViewCart.cshtml");



    <script>
        $(document).ready(function () {

            $('.menu').hide();
            $('.menu1').hide();
        });
        $('.navbar-left').click(function () {
            $('.menu').toggleClass('show');
        });
        $('#menu-right').click(function () {
            $('.menu1').toggleClass('show');
        })
    </script>
</body>
</html>
