﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="../Content/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }

        * {
            font-family: Carbon bl;
        }

        @@font-face {
            font-family: Futura_Condensed_Medium;
            src: local("Futura"), local("Futura_Condensed_Medium"), url('../../Content/fonts/Futura_Condensed_Medium.otf') format('opentype');
            font-weight: bold;
        }

        ::-webkit-input-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        :-moz-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        ::-moz-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        :-ms-input-placeholder {
            font-family: 'Futura_Condensed_Medium';
        }

        input[type="text"], input[type="email"], input[type="password"] {
            font-family: Futura_Condensed_Medium;
        }

        .header {
            text-align: center;
            font-size: 80px;
            margin-top: 8%;
            color: black;
        }

        body {
            background-color: white;
        }

        .form-box {
            background-color: white;
            padding: 30px;
            border: 1px solid black;
        }

        input {
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Public Servant</h1>
        <br>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-xm-12 form-box">
                <h2 class="text-center" style="text-decoration: underline;">SignUp</h2>
                <br>
                <form class="form form-horizontal" action="@Url.Action("Signup","Home")" method="post">
                    <div class="form-group">

                        <label class="control-label">User Name:</label>
                        <input onchange="return trim(this)" type="text" name="UserName" class="form-control" required>
                    </div>
                    <div class="form-group">

                        <label class="control-label">Email:</label>
                        <input onchange="return trim(this)" type="email" name="Email" class="form-control" required>
                    </div>
                    <div class="form-group">

                        <label class="control-label">Phone:</label>
                        <input onchange="return trim(this)" type="text" name="Phone" class="form-control" required>
                    </div>
                    <div class="form-group">

                        <label class="control-label">Password:</label>
                        <input onchange="return trim(this)" type="password" name="Password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Sign Up <span class="glyphicon glyphicon-log-in"></span></button>@*<span class="pull-right"><a href="#" data-toggle="modal" data-target="#myModal">Forget Password</a></span>*@
                    </div>
                    <div class="form-group text-center">
                        <input type="hidden" name="register" value="signup"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Forget Password</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form">
                            <div class="form-group">
                                <label class="control-label">Email:</label>
                                <input type="email" required name="" class="form-control">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="footer">
            <p class="text-center">&copy; <strong>Public servant 2018</strong></p>
        </div>
    </div>
</body>
</html>


