﻿@model PublicServant.Models.Item
@{ 
    Layout = null;
}
<html>
<head>
    <title>Public Servant</title>
    <link rel="shortcut icon" type="image/png" href="http://publicservantstreetwear.com/Content/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/normalize.css" />
    <link rel="stylesheet" href="~/Content/css/foundation.css" />
    <link rel="stylesheet" href="~/Content/css/demo.css" />
    <script src="~/Content/js/vendor/modernizr.js"></script>
    <script src="~/Content/js/vendor/jquery.js"></script>
    <!-- xzoom plugin here -->
    <script type="text/javascript" src="~/Content/js/xzoom.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/xzoom.css" media="all" />
    <!-- hammer plugin here -->
    <script type="text/javascript" src="~/Content/hammer.js/1.0.5/jquery.hammer.min.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/fancybox/source/jquery.fancybox.css" />
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/magnific-popup/css/magnific-popup.css" />
    <script type="text/javascript" src="~/Content/fancybox/source/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Content/magnific-popup/js/magnific-popup.js"></script>
    <style>
        @@font-face {
            font-family: Carbon bl;
            src: local("Carbon"), local("Carbon-bold"), url("../../Content/fonts/carbon%20bl.ttf") format('opentype');
            font-weight: bold;
        }
        @@font-face {
          font-family: Futura_Condensed_Medium;
          src: local("Futura"),
               local("Futura_Condensed_Medium"),
               url('../../Content/fonts/Futura_Condensed_Medium.otf') format('opentype');
          font-weight: bold;
        }
        *{
            font-family: Carbon bl !important;
        }
        .navbar-default{
            border-radius: 0px;
            background-color: transparent;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            border: none;
        }
        body{
            background-color: white;

        }
        select, option {
            font-family: Futura_Condensed_Medium;
        }
        .badge {
            background-color: black;
            color: white;
        }
        #logo{
            width: 700px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        }
        #footer {
           position:absolute;
           bottom:0;
        }
        #myModal{
            margin-top: 10%;
        }
        #myModal1{
            margin-top: 5%;
        }
        .navbar-default .navbar-nav>li>a{
            color: black;
            outline:none;
        }
        .navbar-default .navbar-nav>li>a:hover{
            text-decoration: underline;
        }
        #hoodlogo{
            margin-top: -60px;
        }
        select{
            width:auto !important;
        }
        .container-product {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
    width: 300px;
  height: 300px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
    color: black;
    position: absolute;
  top: 150px;
  left: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.container-product:hover .image {
  opacity: 0.3;
}

.container-product:hover .middle {
  opacity: 1;
}
        .zoom {
			display:inline-block;
			position: relative;
		}

		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block;
			width:33px;
			height:33px;
			position:absolute;
			top:0;
			right:0;
			background:url(icon.png);
		}

		.zoom img {
			display: block;
		}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #000!important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #000; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
        .brand-centered {
            display: flex;
            justify-content: center;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }

        .navbar-brand {
            margin-top: 40px;
            display: flex;
            align-items: center;
        }

        @@media screen and (max-width: 768px) {
            #hoodlogo {
                margin-top: 0px;
            }

            .brand-centered {
                width: auto;
            }
            .navbar-brand {
                margin-top: 0px;
            }
        }

        @@media screen and (max-width: 560px) {
            #hoodlogo {
                margin-top: 0px;
            }

            .brand-centered {
                width: auto;
            }

            .navbar-brand {
                margin-top: 0px;
            }
        }

        @@media screen and (max-width: 480px) {
            #hoodlogo {
                margin-top: auto;
            }

            .product {
                margin: 10%;
            }

            .brand-centered {
                width: auto;
            }

            .navbar-brand {
                margin-top: 0px;
            }
        }
    </style>
    <script>
		$(".xzoom").xzoom({tint: '#333', Xoffset: 15});
    </script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="brand-centered">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/Content/images/weblogo.png" width="150" height="80">
                    </a>

                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-left"><img id="menu-left" src="~/Content/images/burger-menu.png" width="25" height="25" onmouseover="this.src='http://publicservantstreetwear.com/Content/images/burger-menu-outline.png'" onmouseout="this.src='http://publicservantstreetwear.com/Content/images/burger-menu.png'"></a></li>
                    <li class=" menu"><a href="@Url.Action("Hoodies","Home")">HOODIES <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Shirts","Home")" class="menu">SHIRTS</a></li>
                    <li><a href="@Url.Action("Bottoms","Home")" class="menu">BOTTOMS</a></li>
                    <li class="menu">
                        <a href="@Url.Action("Accessories","Home")">ACCESSORIES</a>
                    </li>
                </ul>
                <!--
                      <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                -->
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["username"] == null)
                    {
                        <li><a class="menu1" data-toggle="modal" data-target="#myModal"> LOGIN</a></li>
                        <li><a class="menu1" data-toggle="modal" data-target="#myModal1"> SIGN UP</a></li>
                        <li><a class="menu1" href="#" data-toggle="modal" data-target="#cart">View Cart <span class="badge">0</span></a></li>

                    }
                    else
                    {

                        <li><a class="menu1" style="text-decoration:none;">@Session["username"]</a></li>
                        <li><a href="@Url.Action("Logout","Home")" class="menu1"> Logout</a></li>
                        <li><a class="menu1" href="#" data-toggle="modal" data-target="#cart">View Cart <span class="badge">@Session["cartItems"]</span></a></li>

                    }
                    <li><a id="menu-right"><img src="~/Content/images/account.png" width="25" height="25" onmouseover="this.src='http://publicservantstreetwear.com/Content/images/account-outline.png'" onmouseout="this.src='http://publicservantstreetwear.com/Content/images/account.png'"></a></li>
                    <!--
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </li>
                    -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
       
        <br>
        <br>
        <div class="row">
            <!--       <h2 class="text-center">Product Name</h2>-->
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="xzoom-container">
                    <img class="xzoom" id="xzoom-default" src="@Url.Content(Model.PreviewImage)" xoriginal="@Url.Content(Model.PreviewImage)" />
                    <div class="xzoom-thumbs">
                        <a href="@Url.Content(Model.Image1)"><img class="xzoom-gallery" width="80" src="@Url.Content(Model.Image1)" xpreview="@Url.Content(Model.Image1)"></a>
                        <a href="@Url.Content(Model.Image2)"><img class="xzoom-gallery" width="80" src="@Url.Content(Model.Image2)"></a>
                        <a href="@Url.Content(Model.Image3)"><img class="xzoom-gallery" width="80" src="@Url.Content(Model.Image3)"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>@Model.Title</h3>
                @*<p style="font-style: italic;">Indigo</p>*@
                <h3><b>$ @Model.Price </b></h3>
                <form class="form">
                    <div class="form-group">
                        <select name="Size" id="size" required>
                            <option selected disabled value="">Select Size</option>
                            @if (ViewBag.Small == 0)
                            {
                                <option value="S" disabled>Small</option>
                            }
                            else
                            {
                                <option value="S">Small</option>
                            }
                            @if (ViewBag.Medium == 0)
                            {
                                <option value="M" disabled>Medium</option>
                            }
                            else
                            {
                                <option value="M">Medium</option>
                            }
                            @if (ViewBag.Large == 0)
                            {
                                <option value="L" disabled>Large</option>
                            }
                            else
                            {
                                <option value="L">Large</option>
                            }
                            @if (ViewBag.XL == 0)
                            {
                                <option value="XL" disabled>Extra Large</option>
                            }
                            else
                            {
                                <option value="XL">Extra Large</option>
                            }
                            @if (ViewBag.XXL == 0)
                            {
                                <option value="XXL" disabled>XXL</option>
                            }
                            else
                            {
                                <option value="XXL">XXL</option>
                            }
                            
                        </select>
                    </div>
                    <input type="hidden" name="productId" id="ProId" value="@Model.Id" />

                    <h4><b>Details</b></h4>
                    <p style="font-family: Futura_Condensed_Medium !important;">
                        @Model.Des
                    </p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Add to Cart</button>
                    </div>
                </form>
                @*<p><span><a class="btn btn-default btn-sm">Servant</a></span>&nbsp;<span><a class="btn btn-default btn-sm">Hood</a></span></p>*@
            </div>
        </div>
        <br>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs --><div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Shipping</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Return/Exchange</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                @if (ViewBag.shipping == null && ViewBag.returnExchange == null)
                                {
                                    <div role="tabpanel" class="tab-pane active" id="home" style="font-family:'Futura_Condensed_Medium' !important;">
                                       No details found
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile" style="font-family: Futura_Condensed_Medium !important;">
                                        No details found
                                    </div>
                                }
                                else
                                {
                                <div role="tabpanel" class="tab-pane active" id="home" style="font-family:'Futura_Condensed_Medium' !important;">
                                    @ViewBag.shipping
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile" style="font-family: Futura_Condensed_Medium !important;">
                                    @ViewBag.returnExchange
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="pull-right">&copy; <strong>Public servant 2018</strong></p>
        </div>
    </div>
        @Html.Partial("~/Views/Shared/_SignUpLoginModal.cshtml")
    @Html.Partial("~/Views/Shared/_ViewCart.cshtml");
        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script>
        $('form').submit(function () {
            var pId = document.getElementById('ProId').value;
            var len = document.getElementById('size').value;
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: '@Url.Action("addToCart", "Admin")',
                    data: { productId: pId, Size:len },
                    //traditional: true,
                    success: function (response) {
                        if (response == "true") {
                            alert("Product has been added to the cart.");
                        }
                        else {
                            alert("You have to login before adding product to cart to save your data for future!");
                        }
                    },
                    //error: function (response) {
                    //    alert('Error');
                    //}

                });
        });
    $(document).ready(function(){

        $('.menu').hide();
        $('.menu1').hide();
    });
    $('.navbar-left').click(function(){
       $('.menu').toggleClass('show');
    });
    $('#menu-right').click(function(){
        $('.menu1').toggleClass('show');
    })


    </script>
    <script src="~/Content/js/foundation.min.js"></script>
    <script src="~/Content/js/setup.js"></script>
</body>
</html>

