@charset "UTF-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #000000;
}

.copyright {
	margin-top: 110px;
	margin-left: 1220px;
	font-size: 14px;
	font-family: "carbon bl";
	color: white;	
}

.logo {
	display: block;
	margin: auto;
	margin-top: 200px;

}
.account {
	display: block;
	margin-left: 1300px;
	margin-top: -150px;
	cursor: pointer;
	position: fixed;
	z-index: 1;
}

.burger-menu {
	display: block;
	margin-left: 107.5px;
	margin-top: -150px;
	cursor: pointer;
	position: fixed;
	z-index: 1;
}

.dropdown {
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
	margin-left: 170px;
	margin-top: -145px;
}

.dropdown-content a {
    color: white;
    padding: 30px 30px;
    display: inline;
	text-decoration: none;
	font-size: 17px;
	font-family: "carbon bl";
}

.dropdown a:hover {
	text-decoration: underline;
}

.show {
	display:block;
}

.dropdown2 {
    position: fixed;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
	margin-left: 900px;
	margin-top: -145px;
}

.dropdown-content2 a {
    color: white;
    padding: 30px 30px;
    display: inline;
	text-decoration: none;
	font-size: 17px;
	font-family: "carbon bl";
}

.dropdown2 .dropdown-content2.show {
    display: block;
}

.dropdown2 a:hover {
	text-decoration: underline;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-family: futura, 'Futura Condensed Medium';
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,.signupbtn {
    float: left;
    width: 100%;
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 50%;
	font-family: futura, 'Futura Condensed Medium';
}

.close {
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}