@charset "UTF-8";
/* CSS Document */
body {
	background-color: #ffffff;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.P1 {
	margin-left: 170px;
}

.P2 {
	margin-left: 100px;
}

.P3 {
	margin-left: 100px;
}

.menu-logo {
	display: block;
	margin: auto;
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.top-nav {
	background-color: #000000;
	cursor: default;
}
